<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="listCss">
            <div id="all_css">
                <textarea name="" id="display_all_css" cols="200" rows="30"></textarea>
            </div>
            <div>
                <p>Trang chu</p><br>
                <textarea name="" id="display_home" cols="200" rows="10"></textarea>
                <p>Tim mau sac</p><br>
                <textarea name="" id="display_find_color" cols="200" rows="10"></textarea>
                <p>Category</p><br>
                <textarea name="" id="display_category" cols="200" rows="10"></textarea>
                <p>Ý Tưởng</p><br>
                <textarea name="" id="display_y_tuong" cols="200" rows="10"></textarea>
                <p>Danh Mục sản phẩm</p><br>
                <textarea name="" id="display_category_product" cols="200" rows="10"></textarea>
                <p>List Sản phẩm</p><br>
                <textarea name="" id="display_list_product" cols="200" rows="10"></textarea>
                <p>Chi Tiết Sản phẩm</p><br>
                <textarea name="" id="display_detail_product" cols="200" rows="10"></textarea>
            </div>
        </div>
        <div id="home">
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__LS73L6Mz0k0xLcQFoebNUa0lfGrtuhZ7qp2Zch9Z1Yw__FLeU_hfb4JXR-bXmQKc7A2Sd4SooIczvFtU59A-gLuU__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__BUKp1YBkiJCiTzrHIrRo6368Wj_UdH1gGLNe8fVvkOo__yN0qmw_84YWfViKBWGHnlTE1b4uhhEsYnsUyhRsEags__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__Dzaf0U5ip5vc9JqcEko9Xu6OGopccClFn6T14epBOhg__d-hSiSUl7KMhpkIqy1lRJl3NgbGB9iJLz7hqcWAHRiY__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__c8c4Dby7BHs--ueweizLsw9cZbEzDLO84Wo0GuqjaUE__duojKLhylv656LUETSHuKqQbbJo19g6dJh8VkhdDekA__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__JSgPFJTl55zJts0Vtv_EzWyzlsSfyTI2nWAi400An3Y__ZwNMOv7kkzvhk_uU0YnpnzfFb9zbOOtkCU2HIDj04Pk__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__aD3_gSmd5qRTY-WWrYHU87zl4PZUZDXoJLzJOWg9HSI__nhmRN7kiSHUfoKZw3CGJcdKgizAi7XejBBhN9xlHrXI__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__VFWvYqJ794YCTf-V46giCLDnoJXJL9Ij79JoK8AtiNI__cc3X63d7_sHVfHiwuocz1yVxsajcbPDtDoN-LimboUo__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
        </div>
        <div id="find_color">
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__OexypFlT8flXz7FvooRgD3G-vlZUrFWY6iwAavQYb9g__uxC-ewtvp27vm6fOpO0YNr4pXT0awmP7N9aDX6TYj8o__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__BUKp1YBkiJCiTzrHIrRo6368Wj_UdH1gGLNe8fVvkOo__yN0qmw_84YWfViKBWGHnlTE1b4uhhEsYnsUyhRsEags__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__tG63SO-w4_PKjLaoHHIb9vkOuo6fjNAVQ1FiyN2Kf5g__XPlgx2jzhg-2LfuKGLXrmVSDhzHhdRFLpCYt7oO-6Ok__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__c8c4Dby7BHs--ueweizLsw9cZbEzDLO84Wo0GuqjaUE__duojKLhylv656LUETSHuKqQbbJo19g6dJh8VkhdDekA__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__JSgPFJTl55zJts0Vtv_EzWyzlsSfyTI2nWAi400An3Y__ZwNMOv7kkzvhk_uU0YnpnzfFb9zbOOtkCU2HIDj04Pk__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__aD3_gSmd5qRTY-WWrYHU87zl4PZUZDXoJLzJOWg9HSI__nhmRN7kiSHUfoKZw3CGJcdKgizAi7XejBBhN9xlHrXI__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__RbX8M1dgg9T40XrEzC_RmJJAXDcMZxItvaVGj9Apvm4__PUKhey-5McA29iKRdeXlMVwLJEnAUOm43xGqg8WjCUQ__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
        </div>
        <div id="category">
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__OexypFlT8flXz7FvooRgD3G-vlZUrFWY6iwAavQYb9g__uxC-ewtvp27vm6fOpO0YNr4pXT0awmP7N9aDX6TYj8o__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__BUKp1YBkiJCiTzrHIrRo6368Wj_UdH1gGLNe8fVvkOo__1TLAuKAa8WpvOLIVsaqUJ3C9fAG0bfQMThvr2o0jbw4__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__Dzaf0U5ip5vc9JqcEko9Xu6OGopccClFn6T14epBOhg__d-hSiSUl7KMhpkIqy1lRJl3NgbGB9iJLz7hqcWAHRiY__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__kYRNzFNl5MS_zcCiEclweNIx86XfVjECP3DI6mZA7jY__Sd68VNOVENDwzRktmw7HEgutFscDJ6dykYL9uQ4-nI4__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__VQbnJCr9ZUrtXUE2H8HPvCoJcRiVMDANLejqyAVpM0I__2uJ91tDQBoQZaWq7J73M-LNK8zVTE29F9ep0QvAqbzo__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__aD3_gSmd5qRTY-WWrYHU87zl4PZUZDXoJLzJOWg9HSI__nhmRN7kiSHUfoKZw3CGJcdKgizAi7XejBBhN9xlHrXI__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__AuE0zpjILclZVFocL-ZM_YXQWNoEoAVRINeuje2TfMs__sJjd_Hk7JHvFHc9oGZN1umGSO06armIXgPwfzwRjp9o__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
        </div>
        <div id="category_product">
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__OexypFlT8flXz7FvooRgD3G-vlZUrFWY6iwAavQYb9g__uxC-ewtvp27vm6fOpO0YNr4pXT0awmP7N9aDX6TYj8o__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a> 
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__BUKp1YBkiJCiTzrHIrRo6368Wj_UdH1gGLNe8fVvkOo__yN0qmw_84YWfViKBWGHnlTE1b4uhhEsYnsUyhRsEags__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a> 
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__Dzaf0U5ip5vc9JqcEko9Xu6OGopccClFn6T14epBOhg__d-hSiSUl7KMhpkIqy1lRJl3NgbGB9iJLz7hqcWAHRiY__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a> 
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__c8c4Dby7BHs--ueweizLsw9cZbEzDLO84Wo0GuqjaUE__duojKLhylv656LUETSHuKqQbbJo19g6dJh8VkhdDekA__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a> 
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__JSgPFJTl55zJts0Vtv_EzWyzlsSfyTI2nWAi400An3Y__ZwNMOv7kkzvhk_uU0YnpnzfFb9zbOOtkCU2HIDj04Pk__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a> 
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__aD3_gSmd5qRTY-WWrYHU87zl4PZUZDXoJLzJOWg9HSI__nhmRN7kiSHUfoKZw3CGJcdKgizAi7XejBBhN9xlHrXI__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a> 
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__AuE0zpjILclZVFocL-ZM_YXQWNoEoAVRINeuje2TfMs__sJjd_Hk7JHvFHc9oGZN1umGSO06armIXgPwfzwRjp9o__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a> 

        </div>
        <div id="y_tuong">
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__4EbVblBhHnWEIMpD8Tawl4Vphv-36blJBwzlU_57IF8__TMjtw3y4-X1s077ePg-bfjhGGV3xaf1Uosf8EknqJr4__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css" /></a> 
            <a class="link_css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" /></a> 
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__BUKp1YBkiJCiTzrHIrRo6368Wj_UdH1gGLNe8fVvkOo__yN0qmw_84YWfViKBWGHnlTE1b4uhhEsYnsUyhRsEags__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css" /></a> 
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__Dzaf0U5ip5vc9JqcEko9Xu6OGopccClFn6T14epBOhg__d-hSiSUl7KMhpkIqy1lRJl3NgbGB9iJLz7hqcWAHRiY__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css" /></a> 
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__c8c4Dby7BHs--ueweizLsw9cZbEzDLO84Wo0GuqjaUE__duojKLhylv656LUETSHuKqQbbJo19g6dJh8VkhdDekA__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css" /></a> 
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__JSgPFJTl55zJts0Vtv_EzWyzlsSfyTI2nWAi400An3Y__ZwNMOv7kkzvhk_uU0YnpnzfFb9zbOOtkCU2HIDj04Pk__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css" /></a> 
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__aD3_gSmd5qRTY-WWrYHU87zl4PZUZDXoJLzJOWg9HSI__nhmRN7kiSHUfoKZw3CGJcdKgizAi7XejBBhN9xlHrXI__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css" /></a> 
            <a class="link_css" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__iW147tHv1qaS4jveQgrzW-4C-hZq8stS3RMnloRkg6Q__uqcVND_Mvj1baBqjCyS9glvlkzJ4vG9UTLjj6vGbsak__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css" /></a>        
        </div>
    </body>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
    <script type="text/javascript">
        function displayListCssLink (links) {
            let text = '';
            let idx = 1;
            for (let link of links) {
                text += 'duluxCss' + idx + ': ' + link + '\n';
                idx++;
            }

            return text;
        }
        function displayPageCssMappingAll (listCss, allCss) {
            let text = '';
            for (let item of listCss) {
                let idx = allCss.indexOf(item);
                if (idx != -1) {
                    text += 'duluxCss' + (idx + 1) + ": " + item + '\n';
                }
            }

            return text;
        }
        $(document).ready(function() {
            let listAllCss = [];
            let pageCss = {
                home: [],
                category: [],
                find_color: [],
                category_product: [],
                list_product: [],
                detail_product: [],
                y_tuong: [],
            };
            for (let page in pageCss) {
                $('#' + page).find('.link_css').each((idx, link) => {
                    let href = $(link).attr('href');
                    if(!listAllCss.includes(href)) {
                        listAllCss.push(href);
                    }
                    pageCss[page].push(href);
                });
            }
            let text = displayListCssLink(listAllCss);
            $('#display_all_css').html(text);
            for(let page in pageCss) {
                let pageCssText = displayPageCssMappingAll(pageCss[page], listAllCss);
                $('#display_' + page).html(pageCssText);
            }
        })
    </script>

</html>
