<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="listJS">
            <div id="all_js">
                <textarea name="" id="display_all_js" cols="200" rows="30"></textarea>
            </div>
            <div>
                <p>Trang chu</p><br>
                <textarea name="" id="display_home" cols="200" rows="10"></textarea>
                <p>Tim mau sac</p><br>
                <textarea name="" id="display_find_color" cols="200" rows="10"></textarea>
                <p>Category</p><br>
                <textarea name="" id="display_category" cols="200" rows="10"></textarea>
                <p>Ý Tưởng</p><br>
                <textarea name="" id="display_y_tuong" cols="200" rows="10"></textarea>
                <p>Danh Mục sản phẩm</p><br>
                <textarea name="" id="display_category_product" cols="200" rows="10"></textarea>
                <p>List Sản phẩm</p><br>
                <textarea name="" id="display_list_product" cols="200" rows="10"></textarea>
                <p>Chi Tiết Sản phẩm</p><br>
                <textarea name="" id="display_detail_product" cols="200" rows="10"></textarea>
            </div>
        </div>
        <div id="home">
            <!-- js 4...8,10,13,16,17,20,21 -->
            <script type="text/javascript" src="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_js/js__X_wWisDxhrZngVcxT3HOqZjB5TZQNwNXbYIMTZEd02Q__EgIygSmLH-iUeBAtAddpk-kGGRgI8SMJ-jOQ6WFwOdE__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.js"></script>
            <script type="text/javascript" src="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_js/js__XojFXcd0dc0OZjSm69_C7-Z4-C3o91yacSAJmVYdKzQ__xn0EXJGAOTc4ayt3zGitdUntpsOIk-t_eCPMw0clk6E__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.js"></script>
            <script type="text/javascript" src="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_js/js__ETP-g0OSLhY_qY5bf5sQnbePg_vdA8Slm01uFV1uyQw__SBCzmIlxcr0muCPWvnj4mHyKkGyYCrZt51LwAzHqTtw__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.js"></script>
            <script type="text/javascript" src="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_js/js__P7CMNiA41_TnWYvXXFGVhFpIf5qPTVzCWey5wWIOCiI__sTN3dt9mu2wfhwafdYiSPEL3nxu0NgbQKW2tYaGrv28__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.js"></script>
            <script type="text/javascript" src="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_js/js__bFOh74rblCNfeAqBWGqF603OXHEBWOI8xUWm9gk-Mnw__uKP6bdssouSeSOO3xvX5BqOp2WaFmA0I2Uj15IUGujs__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.js"></script>
            <script type="text/javascript" src="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_js/js__sgY7qoCBCAjQgnTkxKypzRzC5oCA1OCLFG_gRhxf4ss__Lf0hY9RZjymhoUxq1yvCMrT9Ure6W5jmMuD-jHXiL1c__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.js"></script>
            <script type="text/javascript" src="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_js/js__bsMdhHMDTDtoyc-7xUDB0ZEqdk7KoP9PUC5r44fZnxM__aHCXCx3gzk0bRG8Tn3wM9Xtz_jL01Lm-Veryv1pJwoo__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.js"></script>
            <script type="text/javascript" src="https://cdns.gigya.com/JS/socialize.js?apikey=3_761phDaMnEeJ3XBCeMN7P3-bXF0gqGvit1SuUlYWZ9gtW3JqRU39WzZUP7uDkZtA"></script>
            <script type="text/javascript" src="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_js/js__-TLddRtvFux7e2d0zI313FbGf3YhuuM1jQOXPgDGdBI__kGYCtIzK_jM61nSuhWTSHgVFPrB2efahaGbgfe5T-kk__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.js"></script>
            <script type="text/javascript" src="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_js/js__biucY50jsoND5Zr9TFTUl3fNT3wNAN871CdzedKgJRE__nsyhXsvyCNVh1eU8gtUr98oxnnebrmTalABh2JqjDZg__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.js"></script>
            <script type="text/javascript" src="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_js/js__d6z74rqG4vw5CSfuWoqrsf3ngklqy6e4OVC2mNhEy3w__QzvItMzqmfj2d8DOTUe5NqRtmA74nFZYm7wEcmeC-yM__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.js"></script>
        </div>
        <div id="find_color">
            <!-- <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__OexypFlT8flXz7FvooRgD3G-vlZUrFWY6iwAavQYb9g__uxC-ewtvp27vm6fOpO0YNr4pXT0awmP7N9aDX6TYj8o__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__BUKp1YBkiJCiTzrHIrRo6368Wj_UdH1gGLNe8fVvkOo__yN0qmw_84YWfViKBWGHnlTE1b4uhhEsYnsUyhRsEags__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__tG63SO-w4_PKjLaoHHIb9vkOuo6fjNAVQ1FiyN2Kf5g__XPlgx2jzhg-2LfuKGLXrmVSDhzHhdRFLpCYt7oO-6Ok__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__c8c4Dby7BHs--ueweizLsw9cZbEzDLO84Wo0GuqjaUE__duojKLhylv656LUETSHuKqQbbJo19g6dJh8VkhdDekA__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__JSgPFJTl55zJts0Vtv_EzWyzlsSfyTI2nWAi400An3Y__ZwNMOv7kkzvhk_uU0YnpnzfFb9zbOOtkCU2HIDj04Pk__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__aD3_gSmd5qRTY-WWrYHU87zl4PZUZDXoJLzJOWg9HSI__nhmRN7kiSHUfoKZw3CGJcdKgizAi7XejBBhN9xlHrXI__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__RbX8M1dgg9T40XrEzC_RmJJAXDcMZxItvaVGj9Apvm4__PUKhey-5McA29iKRdeXlMVwLJEnAUOm43xGqg8WjCUQ__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a> -->
        </div>
        <div id="category">
            <!-- <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__OexypFlT8flXz7FvooRgD3G-vlZUrFWY6iwAavQYb9g__uxC-ewtvp27vm6fOpO0YNr4pXT0awmP7N9aDX6TYj8o__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__BUKp1YBkiJCiTzrHIrRo6368Wj_UdH1gGLNe8fVvkOo__1TLAuKAa8WpvOLIVsaqUJ3C9fAG0bfQMThvr2o0jbw4__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__Dzaf0U5ip5vc9JqcEko9Xu6OGopccClFn6T14epBOhg__d-hSiSUl7KMhpkIqy1lRJl3NgbGB9iJLz7hqcWAHRiY__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__kYRNzFNl5MS_zcCiEclweNIx86XfVjECP3DI6mZA7jY__Sd68VNOVENDwzRktmw7HEgutFscDJ6dykYL9uQ4-nI4__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__VQbnJCr9ZUrtXUE2H8HPvCoJcRiVMDANLejqyAVpM0I__2uJ91tDQBoQZaWq7J73M-LNK8zVTE29F9ep0QvAqbzo__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__aD3_gSmd5qRTY-WWrYHU87zl4PZUZDXoJLzJOWg9HSI__nhmRN7kiSHUfoKZw3CGJcdKgizAi7XejBBhN9xlHrXI__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__AuE0zpjILclZVFocL-ZM_YXQWNoEoAVRINeuje2TfMs__sJjd_Hk7JHvFHc9oGZN1umGSO06armIXgPwfzwRjp9o__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a> -->
        </div>
        <div id="category_product">
            <!-- <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__OexypFlT8flXz7FvooRgD3G-vlZUrFWY6iwAavQYb9g__uxC-ewtvp27vm6fOpO0YNr4pXT0awmP7N9aDX6TYj8o__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a> 
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__BUKp1YBkiJCiTzrHIrRo6368Wj_UdH1gGLNe8fVvkOo__yN0qmw_84YWfViKBWGHnlTE1b4uhhEsYnsUyhRsEags__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a> 
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__Dzaf0U5ip5vc9JqcEko9Xu6OGopccClFn6T14epBOhg__d-hSiSUl7KMhpkIqy1lRJl3NgbGB9iJLz7hqcWAHRiY__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a> 
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__c8c4Dby7BHs--ueweizLsw9cZbEzDLO84Wo0GuqjaUE__duojKLhylv656LUETSHuKqQbbJo19g6dJh8VkhdDekA__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a> 
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__JSgPFJTl55zJts0Vtv_EzWyzlsSfyTI2nWAi400An3Y__ZwNMOv7kkzvhk_uU0YnpnzfFb9zbOOtkCU2HIDj04Pk__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a> 
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__aD3_gSmd5qRTY-WWrYHU87zl4PZUZDXoJLzJOWg9HSI__nhmRN7kiSHUfoKZw3CGJcdKgizAi7XejBBhN9xlHrXI__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a> 
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__AuE0zpjILclZVFocL-ZM_YXQWNoEoAVRINeuje2TfMs__sJjd_Hk7JHvFHc9oGZN1umGSO06armIXgPwfzwRjp9o__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css"></a>  -->

        </div>
        <div id="y_tuong">
            <!-- <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__4EbVblBhHnWEIMpD8Tawl4Vphv-36blJBwzlU_57IF8__TMjtw3y4-X1s077ePg-bfjhGGV3xaf1Uosf8EknqJr4__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css" /></a> 
            <a class="link_js" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" /></a> 
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__BUKp1YBkiJCiTzrHIrRo6368Wj_UdH1gGLNe8fVvkOo__yN0qmw_84YWfViKBWGHnlTE1b4uhhEsYnsUyhRsEags__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css" /></a> 
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__Dzaf0U5ip5vc9JqcEko9Xu6OGopccClFn6T14epBOhg__d-hSiSUl7KMhpkIqy1lRJl3NgbGB9iJLz7hqcWAHRiY__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css" /></a> 
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__c8c4Dby7BHs--ueweizLsw9cZbEzDLO84Wo0GuqjaUE__duojKLhylv656LUETSHuKqQbbJo19g6dJh8VkhdDekA__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css" /></a> 
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__JSgPFJTl55zJts0Vtv_EzWyzlsSfyTI2nWAi400An3Y__ZwNMOv7kkzvhk_uU0YnpnzfFb9zbOOtkCU2HIDj04Pk__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css" /></a> 
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__aD3_gSmd5qRTY-WWrYHU87zl4PZUZDXoJLzJOWg9HSI__nhmRN7kiSHUfoKZw3CGJcdKgizAi7XejBBhN9xlHrXI__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css" /></a> 
            <a class="link_js" href="https://www.dulux.vn/sites/www.dulux.vn/files/advagg_css/css__iW147tHv1qaS4jveQgrzW-4C-hZq8stS3RMnloRkg6Q__uqcVND_Mvj1baBqjCyS9glvlkzJ4vG9UTLjj6vGbsak__IY9epI-mj_jUyCKMTKnYycFqUe7k0NLtv13O2_s2fYI.css" /></a>         -->
        </div>
    </body>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
    <script type="text/javascript">
        function displayListJSLink (links) {
            let text = '';
            let idx = 1;
            for (let link of links) {
                text += 'duluxJS' + idx + ': ' + link + '\n';
                idx++;
            }

            return text;
        }
        function displayPageJSMappingAll (listCss, allCss) {
            let text = '';
            for (let item of listCss) {
                let idx = allCss.indexOf(item);
                if (idx != -1) {
                    text += 'duluxJS' + (idx + 1) + ": " + item + '\n';
                }
            }

            return text;
        }
        $(document).ready(function() {
            let listAllJS = [];
            let PageJS = {
                home: [],
                category: [],
                find_color: [],
                category_product: [],
                list_product: [],
                detail_product: [],
                y_tuong: [],
            };
            for (let page in PageJS) {
                $('#' + page).find("script[type='text/javascript']").each((idx, link) => {
                    let href = $(link).attr('src');
                    if(!listAllJS.includes(href)) {
                        listAllJS.push(href);
                    }
                    PageJS[page].push(href);
                });
            }
            let text = displayListJSLink(listAllJS);
            $('#display_all_js').html(text);
            for(let page in PageJS) {
                let PageJSText = displayPageJSMappingAll(PageJS[page], listAllJS);
                $('#display_' + page).html(PageJSText);
            }
        })
    </script>

</html>
